.modau-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modau {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988;
}